atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
Command==0.1.0
coverage==4.5.2
cssselect==1.0.3
flake8==3.6.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.1.0
mccabe==0.6.1
more-itertools==4.3.0
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.0.2
pytest-cov==2.6.0
pytest-flake8==1.0.2
six==1.12.0
Werkzeug==0.14.1
