<html>
  <head lang="ru">
    <title>Minori</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/new_style.css">
    <link rel="shortcut icon" href="/static/images/icon2.ico" type="images/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-brand ml-3">Mi:)<span style="color: #00E8EB">nori</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center"></div>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Pages</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn menu-right-btn border" type="submit">
                            Template
                        </button>
                    </form>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="#" class="nav-link waves-effect">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="clearfix d-none d-sm-inline-block">Cart</span>
                            </a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="site-content">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center mt-4 mb-4 text-center">
                        <h1 class="site-title">Bootstrap User Interface</h1>
                        <h2 class="site-desc"></h2>
                    <div class="d-flex flex-row justify-content-center">
                        <input type="button" value="Buy Template" class="btn site-btn1 px-4 py-3 mr-4 btn-dark">
                        <input type="button" value="Know Features" class="btn site-btn2 px-4 py-3 mr-4 btn-light">   
                        </div>
                    </div>
                </div>
            </div>
        <div class="section-1">
                <div class="container text-center">
                    <h1 class="heading-1">Fantastic Features</h1>
                    <h2 class="heading-2">Different Type of templates</h2>
                    <p class="para-1">dfdgjkdhgd</p>
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4">
                            <div class="card" style="width:20rem;">
                                <img src="static/images/157.jpg" alt="Image1" class="card-img-top">
                                <div class="card-body">
                                    <h4 class="card-title">Responsive</h4>
                                    <p class="card-text">Nflkgmkfm</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width:20rem;">
                                <img src="static/images/153.jpg" alt="Image2" class="card-img-top">
                                <div class="card-body">
                                    <h4 class="card-title">Flexible</h4>
                                    <p class="card-text">fvjfnvnfjndj</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width:20rem;">
                                <img src="static/images/154.jpg" alt="Image3" class="card-img-top">
                                <div class="card-body">
                                    <h4 class="card-title">Flexible</h4>
                                    <p class="card-text">fvjfnvnfjndj</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
        <div class="section-2">
            <div class="container-fluid">
                <div class="d-flex justify-content-end">
                    <div class="d-flex flex-column m-4">
                        <h1 class="heading-1">Like & Share YourLove</h1>
                        <p class="para">djsjkdhfkjs</p>
                        <input type="button" value="Show" class="btn btn-danger">
                        </div>
                    </div>
                </div> 
            </div> 
        </div>          
        <div class="section-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas-question fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">24/7 Support</h3>
                                <p class="m-2">
                                    jhjhjhj
                                </p>
                            </div>
                        </div>
                    </div>        
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-seedling fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">Marketing</h3>
                                <p class="m-2">
                                    djdsjfhdsjfjd
                                </p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-4">
                        <div class="d-flex flex-row">
                            <i class="fas fa-rocket fa-3x m-2"></i>
                            <div class="d-flex flex-column">
                                <h3 class="m-2">Speed</h3>
                                <p class="m-2">
                                djdsjfhdsjfjd
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>   


            


        </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
  </body>
</html>