<html>
  <head>
    <title>Онлайн магазин</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"crossorigin="anonymous">
    <link rel="stylesheet" href="/static/new_style.css">
    <link rel="shortcut icon" href="/static/icon2.ico" type="images/x-icon">
  </head>
  <body>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
  </body>
</html>